@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Oswald:wght@300&display=swap');
/* font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Oswald', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --azure: #f0ffff;
  --lightOrange: #ffa500;
  --grey: #808080;
  --sandy: #f4a460;
  --paleyellow: #ffff00;
  --beige: #f5f5dc;
  --smallSpacing: 0.1rem;
  --bigSpacing: 0.5rem;
  --mainTransition: 0.3s;
  --silver: rgb(169,169,169);
}

.text-title {
  font-family: 'IBM plex sanse',sans-serif;
  font-weight: bold;
  letter-spacing: var(--smallSpacing);
  text-transform: capitalize;
}

.text-sub {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  letter-spacing: var(--bigSpacing);
}

.social-icon {
  color: var(--grey);
}

body{
  overflow-x: hidden;
}
.span_bold{
  color: darkgreen;
  font-weight: bolder;
}